<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="box-client-logos">
                    <ul id="scroller">
                        <li><img src="../img/logos/1.png" width="130" height="33"></li>
                        <li><img src="../img/logos/2.png" width="180" height="33"></li>
                        <li><img src="../img/logos/10.png"></li>
                        <li><img src="../img/logos/6.png"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</aside>