<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="box-client-logos">
                <div class="partnered_text">We've partnered with...</div>
                <br/>
                    <ul id="scroller">
                        <li><img src="../img/logos//logo-heroku.png"></li>
                        <li><img src="../img/logos//logo-amazon.png"></li>
                        <li><img src="../img/logos//logo-cassandra.png"></li>
                        <li><img src="../img/logos//logo-mongo.png"></li>
                        <li><img src="../img/logos//logo-hadoop.png"></li>
                        <li><img src="../img/logos//logo-cisco.png"></li>
                        <li><img src="../img/logos//logo-cloudera.png"></li>
                        <li><img src="../img/logos//logo-elephant.png"></li>
                        <li><img src="../img/logos//logo-salesforce.png"></li>
                        <li><img src="../img/logos//logo-intel.png"></li>
                        <li><img src="../img/logos//logo-google.png"></li>
                        <li><img src="../img/logos//logo-hphelion.png"></li>
                        <li><img src="../img/logos//logo-ibm.png"></li>
                        <li><img src="../img/logos//logo-adobe.png" ></li>
                        <li><img src="../img/logos//logo-microsoft.png"></li>
                        <li><img src="../img/logos//logo-iso.png"></li>
                        <li><img src="../img/logos//logo-kentico.png"></li>
                        <li><img src="../img/logos//logo-openstack.png"></li>
                        <li><img src="../img/logos//logo-checkpoint.png"></li>
                        <li><img src="../img/logos//logo-pivotal.png"></li>
                        <li><img src="../img/logos//logo-acronis.png" ></li>
                        <li><img src="../img/logos//logo-symantec.png"></li>
                        <li><img src="../img/logos//logo-vmware.png"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</aside>